.fondo {
    background-color: rgba(255, 255, 255, .15);
    display: inline-block;
    border-radius: 20px;
    padding-left: 100px;
    padding-right: 100px;
}
.input2 {
    display: inline-block;
}
.danger {
    background-color: rgba(255, 0, 0, 0.535);
    color: white;
    font-size: 15px;
    margin: 30px;
    display: flexbox;
    border-radius: 25px;
}

.label {
    display: block;
    color: white;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif
}

.input {
    background-color: rgb(170, 167, 207);
    color: black;
    display: inline-block;
    width: 450px;
    height: 40px;
    text-align: center;
    justify-content: center;
    margin: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.h1 {
    font-size: 50px;
    color: white;
}

.inputsolo {
    background-color: rgb(170, 167, 207);
    font-size: 20px;
    display: inline-block;
    color: rgba(0, 0, 0, 0.904);
    width: 200px;
    height: 50px;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
}

.inputsolo:hover {
    background-color: gray;
}

.contenedorLi {
    background-color: white;
    display: column;
    width: 250px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: 90px;
    border-radius: 20px;
    font-weight: 900;
}

.delete {
    margin-left: 5px;
    margin-bottom: 1px;
    background-color: red;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.back {
    display: inline-block;
    font-size: 20px;
    margin-left: 980px;
    padding: 10px 10px;
    background-color: rgb(52, 52, 158);
    color: white;
    border-radius: 15px;
    font-weight: 800;
}

.back:hover {
    background-color: rgba(0, 0, 255, 0.587);
    color: white;
}
